CLIENT_ID=""
CLIENT_SECRET=""
CRYPT_SECRET="SECURE PASSWORD FOR ENCRYPTING ACCESS TOKEN"
CUSTOMER_NAME=""
CUSTOMER_ID=""
REDIRECT="http://localhost:3000/redirect" <---- KEEP
DB_PATH="./db/database.db" <---- KEEP